<div class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h3>{{data.title}}</h3>
        </div>
    </div>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="comment-text">Add Comment Here</label>
            <textarea class="form-control" id="comment-text" rows="3"></textarea>
        </div>
        <br />
        <button type="button" data-id={{data._id}} class="submit-comments"
            style="padding: 5px 10px; float:right">Submit</button>
    </form>
</div>
<div>
    {{#if data.note}}
    {{#each data.note}}
    <p>{{this.body}}</p>
    {{/each}}
    {{/if}}
</div>