<div id="container text-center" style="margin: 5%;">
    <div class="row text-center">
        <div class="col-xs-12">
            <h1>Scrape Articles</h1>
        </div>
    </div>
    <div class="row" style="padding-bottom:2%">
        <div class="col-12">
            <a href="/scrape"><button>Scrape Articles</button></a>
        </div>